svg {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.nav-link {
    padding: 0.5rem 2rem;
}

#app-title {
    padding: 0 !important;
}

a.router-link-active {
    color: var(--bs-black) !important;
    background-color: var(--bs-nav-pills-link-active-bg);
}

a.router-link-active path {
    fill: var(--bs-black) !important;
}

div.dt-container .dt-search input {
    padding: calc(1rem - 1px) 1rem calc(0.5rem + 1px);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color-subtle);
    border-radius: 0;
    transition: border-color 0.2s ease-in-out;
}

div.dt-container select.dt-input {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-radius: 0;
    border: 0.125rem solid black;
    transition: border-color 0.2s ease-in-out;
}

div.dt-container .dt-paging .dt-paging-button.current {
    background-color: black;
    color: #fff !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
    background-color: black !important;
    color: #fff !important;
}

div.dt-container select.dt-input:hover {
    background-color: #000;
    color: #fff;
}

div.dt-container select.dt-input + label {
    display: none;
}

table tr {
    cursor: pointer;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--bs-white) !important;
        color: var(--bs-black) !important;
    }

    a:hover path {
        fill: var(--bs-black) !important;
    }
    .hover-btn:hover {
        background-color: var(--bs-black) !important;
        color: white !important;
    }

    .hover-btn:hover path,
    .hover-btn:hover g {
        fill: var(--bs-white) !important;
    }
}

.dropdown-item {
    cursor: pointer;
}

.btn,
input,
select,
textarea,
a {
    border-radius: 0.3rem !important;
}

.boxShadow {
    box-shadow: 0 4px 4px rgba(0 0 0 / 6%), 0 1px 4px rgba(0 0 0 / 18%);
}

.helpMessage {
    font-weight: 400;
    font-size: small;
}

.multiselect-form-control {
    display: block !important;
    width: 100% !important;
    padding: calc(1rem - 1px) 1rem calc(0.5rem + 1px) !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    line-height: 1.25 !important;
    color: var(--bs-body-color) !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color-subtle) !important;
    border-radius: 0 !important;
    transition: border-color 0.2s ease-in-out !important;
}

.datatable td {
    text-align: left !important;
}

#dashboardTable .dt-paging {
    display: none !important;
}

/* tablet and mobile screen responsiveness */
@media (max-width: 1250px) {
    #entitiesBreadCrumbsWrapper {
        margin: 0.9rem 0 !important;
    }

    .container {
        padding: 0.5rem !important;
        max-width: none;
    }

    #sideBar {
        display: none;
    }

    main {
        margin-left: 0;
    }

    #eventsWrapper,
    #visit-view,
    #visitor-view {
        gap: 0 !important;
    }

    select.dt-input {
        height: 48px;
    }

    .dt-search {
        margin-top: 0 !important;
        text-align: right !important;
    }

    .dt-length {
        text-align: right !important;
    }

    /* style the search input and data range select */
    .datatable > .dt-container .dt-layout-row:first-of-type {
        display: flex !important;
        justify-content: space-between !important;
        gap: 0.4rem;
    }

    /* style the data range select */
    .datatable > .dt-container .dt-layout-row:first-of-type .dt-start {
        width: 80px !important;
    }

    /* style the search input container */
    .datatable > .dt-container .dt-layout-row:first-of-type .dt-end {
        flex: 1 !important;
        text-align: right !important;
    }

    /* style the search input */
    .datatable
        > .dt-container
        .dt-layout-row:first-of-type
        .dt-end
        .dt-search
        .dt-input {
        width: 100% !important;
        max-width: 400px;
        margin-left: auto;
    }

    /* style the pagination buttons container */
    .datatable > .dt-container .dt-layout-row:last-of-type {
        text-align: center !important;
    }
}

/* desktop screen responsiveness */
@media (min-width: 1251px) {
    #sideBar {
        display: flex !important;
    }

    main {
        margin-left: 20rem !important;
    }

    input[type="search"] {
        width: 40% !important;
    }

    #breadCrumbsOptionsTopWrapper {
        margin-top: 1.25rem;
    }
}

@media (max-width: 550px) {
    #breadCrumbs {
        display: none;
    }
}

@media (max-width: 800px) {
    #sideBar {
        width: 100vw !important;
    }

    #hideSidebarBtn {
        display: inline-flex !important;
    }
}

@media (max-width: 450px) {
    #mobileFormWrapper {
        padding: 20px !important;
        margin-top: 0 !important;
    }
}

input.form-select,
select.form-select {
    height: 48px !important;
}

.submitBtnLoader {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-width: 4px;
}

.textLoadingDiv {
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 5%;
    min-height: 20px;
}

.lightText {
    color: #666;
}

#checkInTypeWrapper {
    width: 100%;
    align-self: center;
}

.checkInTypeBtn {
    width: 100%;
    padding: 10px;
    font-weight: 800;
    color: #666;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.activeCheckInTypeBtn {
    color: #eee;
    background-color: #555;
}

#checkInTypeWrapper > a {
    width: 40%;
    max-width: 200px;
}
